

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}
@font-face {
  font-family: cormorant-garamond;
  src: url('/fonts/cormorant-garamond');
}

.text-49b349 { color: #49b349; }
.text-e0e0b4 { color: #e0e0b4; }
.border-e0e0b4 { border-color: #e0e0b4; }
.border-49b349 { border-color: #49b349; }
.hover\:border-49b349:hover { border-color: #49b349; }

/*scroll bar fun*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19191a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 960px) {
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.underline-custom {
  position: relative;
}

.underline-custom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px; /* or '0.125rem' for Tailwind's default border width */
  background-color: #E30B5D; /* this is your underline color */
}



button.create_new {
  transition: all 0.5s ease;
  
}

button.create_new span {
  transition: max-width 0.5s ease;
  
}

button.create_new:hover span {
  max-width: 200px; /* Adjust as needed */
  
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

.ribbon::before
 {
  content: '';
  position: absolute;
  left: 150px;
  transform: rotate(180deg);
  /* transform: rotate(74deg); */
  top: 20px;
  width: 0;
  height: 0;
  border-top: 20px solid var(--ribbon-color, #6A9A62);
  border-left: 29px solid transparent;
  border-right: 1px solid transparent;
  left: 81px;
}


.ribbon::after {
  
  content: '';
  position: absolute;
  left: 81px;
  top: 0;
 
  width: 0;
  height: 0;
  border-top: 20px solid var(--ribbon-color, #6A9A62);
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
}
.ribbon-blue::before
 {
  content: '';
    position: absolute;
    left: 78px;
    transform: rotate(180deg);
    top: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid var(--ribbon-color, #60a5fa);
    border-left: 29px solid transparent;
    border-right: 1px solid transparent;
}



.ribbon-blue::after {
  right: 40;
  content: '';
  position: absolute;
  left: 81px;
  top: 0;
  bottom: 5px;
  width: 0;
  height: 0;
  border-top: 20px solid var(--ribbon-color, #60a5fa);
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
}