

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}
@font-face {
  font-family: cormorant-garamond;
  src: url('/fonts/cormorant-garamond');
}

.text-49b349 { color: #49b349; }
.text-e0e0b4 { color: #e0e0b4; }
.border-e0e0b4 { border-color: #e0e0b4; }
.border-49b349 { border-color: #49b349; }
.hover\:border-49b349:hover { border-color: #49b349; }

/*scroll bar fun*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19191a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 960px) {
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.underline-custom {
  position: relative;
}

.underline-custom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px; /* or '0.125rem' for Tailwind's default border width */
  background-color: #E30B5D; /* this is your underline color */
}

button.create_new {
  transition: width 0.3s ease, background-color 0.3s ease;
}

button.create_new:hover {
  width: auto;
   /* Adjust width on hover */ 
}

button.create_new:hover span {
  opacity: 1; /* Show text on hover */
}

button.create_new:hover .plus_sign{
  color:transparent;
}

.button-container {
  transition: all 0.3s ease;
  clip-path: circle(25px at center);
}

.button-container:hover {
  width: auto; /* Adjust to fit the content */
  clip-path: circle(75px at center);
}

.button-text {
  transition: opacity 0.3s ease 0.3s;
}

.button-container:hover .button-text {
  opacity: 1;
}